$margin: margin auto;
$font1: 'Pacifico', cursive;

body {
    opacity: .9;
}

input{
  height: 30px;
  width: 300px;
}

Navbar{
  border-radius: 0%
}

#logocolor{
  color: #45B3FF;
}


.navbar {
  border-radius: 0px;
  height: 70px;
  padding: 13px 0px;
} 

a.logo{
  font-family: $font1;
  font-size: 28px;
  padding-bottom: 15px;
}

.logStatus{
  padding: 15px 0px;
  font-size: 18px;
}


.panel-heading:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer; cursor: hand;
}

.footer{
  background: #222;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  color: #9d9d9d;
}

span.footer{
  padding-top: 25px;
}

